/* akk.module.css */

/* Для контейнера */
.container {
  max-width: 700px;
  margin: 60px auto;
  padding: 32px;
  background-color: var(--bg-color2);
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
.title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 32px;
  color: var(--text-color);
}

/* Контейнер для формы */
.form {
  display: grid;
  gap: 20px;
}

/* Поля ввода */
.input {

  padding: 14px 18px;
  margin-bottom: 16px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  font-size: 15px;
  transition: border 0.3s ease;
}

.input:focus {
  border-color: var(--border-color-input);
  outline: none;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

/* Кнопка сохранения */
.saveButton {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background-color: var(--element-select);
  color: var(--button-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: var(--bg-color-hover-element);
}

/* Сообщение об успешном обновлении */
.message {
  margin-top: 16px;
  text-align: center;
  color: var(--text-color-forder);
  font-weight: 500;
}
