
.all_chast_div{
display: grid;
gap: 10px;
}

.chast_div{
    display: block;
    height: auto;
    padding: 0px ;
    border: solid 1px;
    width: 100%;
    /* border-width: 1px; */
    border-color: var(--border-color);
    border-radius: 10px;
    background-color: var(--bg-color2);
    margin-top: 0px;
}


.forder_div{
    display: flex;
    border: solid 1px;
    border-color: var(--border-color);
    border-radius: 10px;
    background-color: var(--bg-color2);
    height: 40px;
    align-items: center; 
    gap: 5px;
    padding: 0px 5px 0px 5px;
    width: calc(100% - 10px);
    overflow-x: auto;

}



  .forder_div::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  

.tab {
    background-color: transparent;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 30px;
 
  }
  
  .tab:hover {
    background-color: #f0f0f0;
  }
  
  .active {
    background-color: transparent;
    border: 1px solid var(--border-color-forder);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 30px;

    background-color: var(--bg-color-forder); /* Цвет активной вкладки */
    color:var(--text-color-forder) ;
    /* font-weight: bold; */
  }


.div_chats{
    display: flex;
/* margin-left: -5%; */
    /* margin: 5px 0px 5px 0px; */
    height: 100px;
 border-top: 1px solid var(--border-color);
    /* background-color: antiquewhite; */
 
  


}

.input_div{
    height: 35px;
width: 100%;
margin-left: -1px;



}
.input_div input{
    width: calc(100% + 2px);
    padding-left: 40px;
    font-size: 17px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    background: url('search-svgrepo-com.svg') no-repeat 10px center;
    background-size: 15px;
    height: 35px;

}
/* .input_div input.icon{
    background: url('search-svgrepo-com.svg')  no-repeat center left;

} */
.input_div input:focus{
    outline: none;
    border: 2px solid var(--border-color-input);
    padding-left: 40px; /* Сохраняем одинаковый отступ */
    box-sizing: border-box; 
    height: 100%;
}
.div_chats img{
  height: 80px;
  margin:  auto 10px auto 10px;
  border-radius: 50%;
}
.div_chats_name_and_sms{
    
    /* height: 20px; */
    width: 100%;
    margin:  20px auto auto 20px;
}
.div_chats_sms{
    /* width: 100%; */
    display: flex;
    margin-bottom: 10px;
    /* margin:  auto 10px auto 10px; */
}
.chats_sms_date{
    margin: 0px 20px 0px auto;

}