body[data-theme="dark"] {
  --bg-color: white;
  --text-color: black;
}

body[data-theme="light"] {
  --bg-color: #fbfcf4;
  --bg-color2: #ffffff;
  --bg-color-novbar: #69BEBA;
  --border-color: #dfdfdf;
  --element-select: #69BEBA;
  --text-color: #2b2d30;
  --border-color-input:#69BEBA;
  --border-color-forder:#69BEBA;
  --bg-color-forder:none;
  --text-color-forder: #2b2d30;
  --bg-color-inpus_chat:#ffffff;
  --bg-color-sms_chat:#ffffff;
  --bg-color-heder_chat:#ffffff;
  --svg-color: #8a8888;
  --bg-color-inpus_chat-focus:#ffffff;
  --svg-color-full:none;
  --button-color:#ffffff;
    --button-border-color:#dfdfdf;
   --bg-color-hover-element:#69BEBA;
--button-hover:#f0f0f0;
--date-color:#cedff0;
--bg-color-modal:aliceblue;
--bg-color-sms:aliceblue
}
/* body[data-theme="light"] {
  --bg-color: #fbfcf4;
  --bg-color2: #ffffff;
  --bg-color-novbar: #ffffff;
  --border-color: #dfdfdf;
  --text-color: #2b2d30;
} */
/* body[data-theme="light"] {
  --bg-color: #fcfffa;
  --bg-color2: #CEFFFD;
  --bg-color-novbar: #CEFFFD;
  --text-color: #2b2d30;
} */

body[data-theme="color"] {
  --bg-color: #C1E8FF;
  --bg-color2: #C1CFFF;
  --bg-color-novbar:#A8B6E5;
  --text-color: #2b2d30;
}
