.posts{
    /* background-color: rgb(0, 78, 78); */
    width: 100%;
  margin: 0px;
}
/* .elem_menu{
    background-color: #000000;
} */
.elem_post{
    display: block;
    margin: 0px auto 30px auto;
    background-color:  var(--bg-color2);
    padding: 20px 30px 10px 30px;
    height: auto;
    border: 1px solid  var(--border-color); /* Параметры рамки */
    /* max-width: 800px; */
    border-radius: 8px;
    /* width: 100%; */
  
}
.elem_post_header_ava{
    margin:  auto 10px auto 10px;
    height: 70px;    
    border-radius: 50%;
}
.elem_post_header_btn{
    margin: 1px 0px 0px 0px;
    height: 20px;    
  
}
.elem_post_header{
    /* margin: auto auto auto 100px; */
      
    display: flex;
    height: 100px;
    width: 100%;
}
.elem_post_header_text{
    display: grid;
    padding: 0px 0px 10px 0px;
  height: 100%;
}
.h_name{
    /* margin-top: 30px; */
}
.elem_post_h_name{
    display: grid;
    width: 100%;
    grid-template-columns: auto 40%;
    /* height: 50px; */
    margin:  auto auto auto 10px;
   
}
/* .elem_post_h_name p {
    margin-top: px;
} */
.elem_post_h_name_datetime{
    display: flex;
    /* margin-top: -30px; */
    
}
.elem_post_body{
    height: auto;
        /* max-width: 20vw; */
}
.elem_post_body_img{
    width: 100%;
    object-fit: cover;
    /* width: 100px; */
      /* max-width: 100%; */
    border-radius: 5px;
    /* border: solid 1px black; */
    max-height: 50vh;


}
.fale_post{
    width: auto;
}
.elem_post_btn{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
    justify-content: center;
    justify-items: center;

}
.elem_post_btn svg{
 fill: var(--svg-color-full);
 stroke: var(--svg-color);
 stroke-width: 2px;
}

.elem_post_btn svg{
    margin: 0px auto 0px auto;
    width: 25px;
}
.elem_post_btn_el{
    display: flex;
    align-content: center;
    align-items: center;
     cursor: pointer;
    width: 60px;
}
.forder_div{
    display: flex;
    border: solid 1px;
    border-color: var(--border-color);
    border-radius: 8px;
    background-color: var(--bg-color2);
    height: 40px;
    align-items: center; 
    gap: 5px;
    padding: 0px 5px 0px 5px;
    width: calc(100% - 10px);
    overflow-x: auto;
    margin-bottom: 10px;

}
  .forder_div button{
     
  display: flex;            /* превращаем кнопку в flex-контейнер */
  justify-content: center;  /* горизонтальное выравнивание */
  align-items: center;      /* вертикальное выравнивание */
  text-align: center;    
  }
  .active {
    background-color: transparent;
    border: 1px solid var(--border-color-forder);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 30px;
width: 50%;
    background-color: var(--bg-color-forder); /* Цвет активной вкладки */
    color:var(--text-color-forder) ;
    /* font-weight: bold; */
  }
.tab {
    width: 50%;
    background-color: transparent;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 30px;
 
  }
  
  .tab:hover {
    background-color: #f0f0f0;
  }
      .add_posts {
  display: grid;
gap: 10px;
/* grid-template-columns: 70% 30%; */

    /* border-color: var(--border-color); */
    /* border-radius: 10px; */
    /* background-color: var(--bg-color2); */
    height: 40px;
    align-items: center; 
    gap: 5px;
    padding: 0px 5px 0px 5px;
    /* width: calc(100% - 10px); */

    margin-bottom: 10px;
  }
  .add_posts svg{
    /* width: 42px; */
width: 20px;
}

    .add_posts button:hover{

  }
    .add_posts input{
    margin-left: -5px;
    width: calc(100% - 35px);
    padding-left: 40px;
    font-size: 17px;

    border: 1px solid var(--border-color);
    border-radius: 7px;
    background: url('../Chats/search-svgrepo-com.svg') no-repeat 10px center;
    background-size: 15px;
    height: 35px;
       background-color: var(--bg-color2);
  }
 .add_posts  input:focus{
    outline: none;
    border: 2px solid var(--border-color-input);
    padding-left: 40px; /* Сохраняем одинаковый отступ */
    box-sizing: border-box; 
    width:calc(100% + 10px);
        /* width: calc(100% - 35px); */
    height: 100%;
}
.post_comm_div_post{
    border-bottom: 2px solid var(--border-color);

}
.div_com_post{
    /* background-color: aqua; */
    padding: 20px 0px 20px 0px;
}
.div_comm{
      border-bottom: 2px solid var(--border-color);

}