body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-family: 'Inter_28pt-Regular', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
       font-family: 'Inter_28pt-Regular', sans-serif;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
   font-family:'Inter_28pt-Regular',sans-serif;
   font-size: large;
  
}
body a{

   font-family:'Inter_28pt-Regular',sans-serif;
   font-size: large;
      cursor: pointer;
  
}
body button{

   font-family:'Inter_28pt-Regular',sans-serif;
   font-size: large;
    cursor: pointer;
  
}
body img{
    object-fit: cover;
}
body button{
      justify-content: center;
    align-content: center;
    align-items: center;
      border-radius: 7px;
background-color: var(--button-color);
border: 1px solid var(--button-border-color);
}
body button:hover{

  background-color: var(--button-hover);

}
.boldText {
  font-weight:600;
  font-size: 19px; 

}

@font-face {
  font-family: 'Inter_28pt-Regular';
  /* src: url('../public/fonts/NotoSansMono-VariableFont.ttf')  format('truetype'); */
  /* src: url('../public/fonts/NewsCycle-Regular.ttf')  format('truetype'); */
  /* src: url('../public/fonts/NewsCycle-Bold.ttf')  format('truetype'); */
  src: url('../public/fonts/inte/static/Inter_28pt-Regular.ttf')  format('truetype');
    font-weight: normal;
  font-style: normal;
}
/* Стиль для чекбоксов */
input[type="checkbox"] {
    appearance: none;
    width: 22px;
    height: 22px;
    background-color: var(--checkbox-bg-color);
    border: 1px solid var(--checkbox-border-color);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: var(--checkbox-checked-bg-color);
    border-color: var(--checkbox-checked-border-color);
}

/* input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 2px;
} */

input[type="checkbox"]:hover {
    background-color: var(--checkbox-hover-bg-color);
    transform: scale(1.1);
}

input[type="checkbox"]:active {
    background-color: var(--checkbox-active-bg-color);
}


label {
    /* font-size: 15px; */
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

input[type="checkbox"]:checked + label {
    color: var(--element-select);
}

label:hover {
    color: var(--element-select);
}
/* Стиль для инпутов с чекбоксами и лейблами */
label {
    /* font-size: 14px; */
    margin-left: 10px;
    cursor: pointer;
}