body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-family: 'Inter_28pt-Regular', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
       font-family: 'Inter_28pt-Regular', sans-serif;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
   font-family:'Inter_28pt-Regular',sans-serif;
   font-size: large;
  
}
body a{

   font-family:'Inter_28pt-Regular',sans-serif;
   font-size: large;
  
}
body button{

   font-family:'Inter_28pt-Regular',sans-serif;
   font-size: large;
  
}


@font-face {
  font-family: 'Inter_28pt-Regular';
  /* src: url('../public/fonts/NotoSansMono-VariableFont.ttf')  format('truetype'); */
  /* src: url('../public/fonts/NewsCycle-Regular.ttf')  format('truetype'); */
  /* src: url('../public/fonts/NewsCycle-Bold.ttf')  format('truetype'); */
  src: url('../public/fonts/inte/static/Inter_28pt-Regular.ttf')  format('truetype');
    font-weight: normal;
  font-style: normal;
}