.div_groups {
  width: auto;
  height: auto;
  border-radius: 8px;
  border: solid 1px var(--border-color);
  background-color: var(--bg-color2);
  padding-bottom: 10px;
}

.div_groups_elem {
  width: 100%;
  max-height: 120px;
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: solid 1px var(--border-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.div_groups_elem:hover {
  background-color: var(--bg-color-hover-element);
}

.div_groups_elem img {
  width: 9vw;
  max-width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.div_groups_elem p {
  margin: 0;
  font-size: 1rem;
}

.description {
  font-size: 0.9rem;
  color: var(--text-color);
}
