.div_{
    display: grid;
    grid-template-columns: 10vw 80vw 10vw ;
    /* grid-template-columns: 1fr minmax() 1fr; */
    margin: 0px 0px 0px 0px;
    width: 100%;
    /* justify-content: center; */
}
.div_home{
    display: grid;
    justify-content: center;
    grid-column-start: 2;
    /* gap: 5px; */
    padding-top: 110px;
    /* padding-right: 10%;
    padding-left: 10%; */
    width: 100%;
    grid-template-columns: 200px minmax(auto, 800px) 200px;
    gap: 15px;
}
.menu_btn_add{
        display: grid;
    grid-column-start:1;
    top:  110px;
    position:sticky;
      width: 180px;
    height: 250px;


    grid-column-end: 2;
}
.menu{
    display: grid;
        background-color: var(--bg-color2);
  
    border: 1px solid  var(--border-color); 

    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    /* grid-column-start:1;
    top:  110px;
    position:sticky;
    background-color: var(--bg-color2);
    width: 180px;

    height: 230px;
    border: 1px solid  var(--border-color); 

    border-radius: 10px;
    padding: 10px 10px 10px 10px;

    grid-column-end: 2; */
}


.elem_menu{
    /* display:block; */
    border-radius: 10px;
    height: 40px;  
    margin: 5px;
   font-size:16px;
    padding-left: 10px;
     display: flex;            /* превращаем кнопку в flex-контейнер */
  align-items: center;      /* вертикальное выравнивание */
  text-align: center;
}
.active {
    background-color: var(--element-select); /* или любой выделяющий цвет */
    color: black;
    border-radius: 8px;
    display:block;
    border-radius: 10px;
    height: 40px;  
    margin: 5px;
   font-size:16px;
   padding-left: 10px;
   transition: background-color 0.5s;
    display: flex;            /* превращаем кнопку в flex-контейнер */
  align-items: center;      /* вертикальное выравнивание */
  text-align: center;
  }
  a {
  text-decoration: none; /* убирает подчёркивание */
  color: inherit;        /* делает цвет таким же, как у родителя (обычный текст) */
  font: inherit;         /* копирует стиль шрифта от родителя */
  cursor: default;       /* (необязательно) если не хочешь, чтобы был указатель-рука */
}
.posts{
    /* margin: 0px 20% 0px %; */
    grid-column-start: 2;
    width:100%;
    max-width: 800px;
    /* min-width: 500px; */
    margin: 0 auto;
}
.favourites{
   /* right: 9%; */
    top:  110px;
    position:sticky;

      /* z-index: ; */
    /* background-color: #C1CFFF; */
    background-color: var(--bg-color2);
    width: 180px;
    margin: 0px 10px 10px 0px;
    height: 230px;
    /* max-width: 800px; */
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid var(--border-color);
    grid-column-start: 3;
}
 .menu_btn_add button{
 
      display: flex;            /* превращаем кнопку в flex-контейнер */
  justify-content: center;  /* горизонтальное выравнивание */
  align-items: center;      /* вертикальное выравнивание */
  text-align: center;
  width: 100%;
height: 42px;
gap: 10px;
font-size:15px;
    border-radius: 7px;
background-color: var(--button-color);
border: 1px solid var(--button-border-color);
}
 .menu_btn_add  svg{
    /* width: 42px; */
width: 20px;
}
    .add_posts button:hover{
           background-color: var(--button-hover);
  }
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.div_add_post {
  width: 50vw;
  max-height: 60vh;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 12px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal_overlay {
  z-index: 1000;
}

.div_add_post {
  z-index: 1001;
}

.div_header_modal{
    display: flex;
  
}
.div_header_modal button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    margin: 0px 0px 0px auto;
  
}
.div_header_modal svg{
    width: 20px;
    color: var(--svg-color);
    fill: var(--svg-color);
    stroke: var(--svg-color); 
}
.image_preview{
  width: auto;
  max-height: auto;
  max-width: 50vw;
  max-height: 40vh;
  object-fit:contain;
}
.input_header {
    margin-left: -5px;
    width: calc(100% - 35px);
    padding-left: 20px;
    font-size: 17px;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    background-size: 15px;
    height: 35px;
    background-color: var(--bg-color2);
}
.btn_modal button{
  display: flex;            /* превращаем кнопку в flex-контейнер */
  justify-content: center;  /* горизонтальное выравнивание */
  align-items: center;      /* вертикальное выравнивание */
  text-align: center;
  width: 100%;
  height: 42px;
  gap: 10px;
  font-size:15px;
  border-radius: 7px;
  background-color: var(--button-color);
  border: 1px solid var(--button-border-color);
  margin-bottom: 10px;
}
.btn_modal{

}